nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav >.navbar__left
{
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: .2rem 2rem;
}

.searchbar>input{
    outline: none;
    border: none;
    font-size: 20px;
}
.searchbar>input::placeholder{
    color: black;
    font-weight: bold;
}
nav ul{
    display: flex;
    gap: 2rem;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: gray;
}